<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First Express App</title>
</head>
<body>
  <h1><%= greeting %></h1>
  <h1><%= names %></h1>
  <% names.forEach(function(name) { %>
  <h2>Hello, <%= name %></h2>
<% }) %>
</body>
</html>
